@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
  background-color: vars.$bg-color;
}

html, body, #root {
  height: 100%;
}

// form submit btn & scroll to top btn
.fa-paper-plane, .fa-angle-up  {
  font-size: 2.3rem;
  color: vars.$text;
  transition: color 200ms ease-in-out;

  &:hover {
    color: hsl(204, 64%, 24%);
  }
}


