@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
}

.app {
  width: 500px;
  height: 700px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #aaa;
}

.message {
  margin: 1rem auto;

  &__author {
    font-weight: bold;
    margin-bottom: .5rem;
  }

  &__content {
    padding: 1em 1.5em;
    border: 1px solid grey;
    background-color: white;
  }
}
