@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
  background-color: #13405D;
}

.app {
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem auto;
  background-color: #BDDCF0;
  border-radius: 10px;
}

.messagesList {
  padding: 1rem 3rem;
  height: 100%;
  overflow-y: auto;
}

.message {
  margin: 2.3rem auto;

  &__author {
    font-weight: bold;
    margin-bottom: .5rem;
  }

  &__content {
    width: fit-content;
    padding: 1em 1.5em;
    border-radius: 25px;
    background-color: white;
    color: #2980B9;
  }
}

.form {
  width: 500px;
  height: 70px;
  display: flex;

  &__message-field {
    width: 80%;
    height: 100%;
    font-size: 1.3rem;
    padding: 1em 1.3em;
    border-style: none;
  }

  &__send-btn {
    width: 20%;
    height: 100%;
    border: none;
    background-color: white;
    padding: 0;
  }
}

.fa-paper-plane {
  font-size: 2.3rem;
  color: #2980B9;
}
