@use 'src/styles/vars';

.messagesList {
  height: calc(100% - #{vars.$input-height});
  width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;

  &__scrollTop-btn {
    position: fixed;
    right: calc(50% - 13rem);
    top: 3rem;
    border: none;
    background-color: transparent;
  }
}
