@use 'src/styles/vars';

.settings {
  position: fixed;
  top: 50px;
  right: -240px;
  padding: 0.5rem 1rem;
  display: flex;
  transition: right 200ms ease-in;

  &--open {
    right: 0;
  }

  &--open > &__display-btn {
    transform: rotate(45deg);
  }

  &__display-btn {
    width: 35px;
    height: 35px;
    font-size: 30px;
    color: #5300FF;
    border: none;
    border-radius: 50%;
    line-height: 0px;
    transition: scale 150ms ease-in-out;
 
    &:hover {
      transform: scale(1.2);
    }
  }
  
  &__form {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    // animation: apparition 300ms ease-out;

    &--input, &--btn {
      font-size: 1rem;
      padding: .5em 1em;
      margin-bottom: .7em;
      border: none;
      border-radius: 6px;
    }

    &--btn {
      background-color: #5300FF;
      color: white;
      transition: background-color 150ms ease-in-out;

      &:hover {
        background-color: hsl(260, 100%, 42%);
      }
    }
  }

  &__logged {
    width: 225px;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 1em;
    margin-left: 1rem;
    text-align: center;

    &--status {
      background-color: hsla(270, 1%, 39%, 0.589);
      font-size: 1rem;
      padding: .5em 1em;
      margin-bottom: 1rem;
      border-radius: 10px;
    }
  } 
}

// form {
//   animation: apparition 300ms ease-out;
// }

// @keyframes apparition {
//   0% {
//     transform: translateX(99%);
//   }
//   100% {
//     transform: translateX(1%);
//   }
// }
